{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-prettier",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "property-no-vendor-prefix": null,
    "function-no-unknown": null
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ],
  "ignoreFiles": [".storybook/*.js"]
}
