@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
